<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>org.aston.task.servlet.UserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>record</servlet-name>
    <servlet-class>org.aston.task.servlet.RecordServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>tag</servlet-name>
    <servlet-class>org.aston.task.servlet.TagServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>record</servlet-name>
    <url-pattern>/record</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>tag</servlet-name>
    <url-pattern>/tag</url-pattern>
  </servlet-mapping>

  <error-page>
    <exception-type>org.aston.task.exceptions.BadRequestException</exception-type>
    <location>/AppExceptionHandler</location>
  </error-page>

  <error-page>
    <exception-type>org.aston.task.exceptions.NotFoundException</exception-type>
    <location>/AppExceptionHandler</location>
  </error-page>

</web-app>
